# Virtual environments
venv/
.venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Testing
.pytest_cache/

# Build artifacts
*.egg-info/
dist/
build/

# Environment variables
.env

# DVC
.dvc/tmp/
.dvc/cache/

# MLflow
mlruns/
mlartifacts/

# Model artifacts and plots
models/
